extends ../layout

block content
  .container
    .clearfix
      form.form-signin(action='/admin/adminpw', method='POST')
        h3.form-signin-heading Admin Login
        .form-group
          label(for='email') Email address
          input.form-control(
            type='email', id='email', name='email', class='form-control', 
            placeholder='Email address', required, autofocus
          )
        .form-group
          label(for='password') Password
          input.form-control(
            type='password', id='password', name='password', class='form-control', 
            placeholder='Password', required, autofocus
          )
        button.btn.btn-primary.btn-block(type='submit') Signin
      |
      a.btn.btn-primary(href='/admin/create') #[i.fa.fa-plus] admin 계정 만들기