table.table.table-hover
  thead
    tr
      th Title
      th Company, Manager
      th Period
      th Created at
  tbody
    each contest in contests
      tr
        td
          a(href=`/contest/${content._id}`)= content.title
        td= content.company, ',', contents.manager
        td= content.startdate, '~' ,content.enddate 
        td= moment(content.createdAt).format('YYYY-MM-DD HH:mm:ss')