header
  .row.justify-content-between
    .col-auto
      h1.fa-pull-left
        a(href="/") 공모전 홈페이지
    .col-auto
      if user
        a(href='/user/edit',title="edit").fa-pull-right #{user} 님 /
        a(href="/logout", title="logout").fa-pull-right 로그아웃   
      else
        a(href="/users/create", title="create").fa-pull-right 회원가입 
        p.fa-pull-right /
        a(href="/login", title="login").fa-pull-right 로그인 
      p.fa-pull-right / 
      a(href="/users", title="userview").fa-pull-right userview


    