doctype html
html
  head
    title= title
    

    //- bootstrap, fontawsome 
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css') 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    //- jquery
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    
    //- script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
 
    
    link(href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js")
    //-script(src="lang/summernote-ko-KR.js")

    script(src='https://www.google.com/recaptcha/api.js' async defer)
    script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer)

    script(type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=07692429cdededb1ecfe34c63c3121b1&libraries=services,clusterer")
    //- script(src="//developers.kakao.com/sdk/js/kakao.min.js")

    script(src="/javascripts/com_create.js")
    script(src="/javascripts/contest_client.js")

  body
    block header
      include ./header
    block nav
      include ./nav

    if flashMessages
      each texts, type in flashMessages
        .container
          .alert.alert-dismissible.fade.show(class=`alert-${type}`)
            each msg in texts
              | #{msg} 
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') &times;
    block content

    block footer
      include ./footer
