nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container
    a.navbar-brand(href="/") HOME
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href="/") 
            span.sr-only (current)
        li.nva-item
          a.nav-link.create_contest(href="/contest/create", title="create_contest") 공모전 등록하기
        li.nva-item
          a.nav-link(href="/") 공모전
        li.nva-item
          a.nav-link(href="/") 공모전 
        li.nva-item
          a.nav-link(href=`/user/${currentUser}`) 마이페이지