
nav.navbar.navbar-expand-md
  .container
    a.navbar-brand(href="/") HOME
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href="/") 
            span.sr-only (current)
        li.nva-item
          a.nav-link.create_contest(href="/contest/create", title="create_contest") 공모전 등록하기
        li.nva-item
          a.nav-link(href="/contest/mycontests") 내 공모전
        if currentUser
          li.nva-item
            a.nav-link(href=`/users/${currentUser.id}/favorite`) 즐겨찾기
          li.nva-item
            a.nav-link(href=`/users/${currentUser.id}/edit`) 개인정보 수정
        else
          li.nva-item
            a.nav-link(href='/users/favorite') 즐겨찾기
          li.nva-item
            a.nav-link(href='/users/edit') 개인정보 수정

      form.form-inline.my-2.my-lg-0(action="/contest/search", method="post")
        input.form-control.mr-sm-2(type="text" placeholder="Search",name="search") 
        button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
    
